:root,

:root.light {
    --bg-color: #000000;
    --bg-gradient-primary:#000000 10%;
    --bg-gradient-secundary:#141313 100%;
    --nav-item--hover: #484848;
    --nav-link:rgba(255, 255, 255, 0.8);
    --border-right--header:1px solid #a9a2a2;
    --bg-color-header:#000000 ;
    --divider-color-sildebar: #6e6666;
    --bloxText-color:rgb(255 255 255);
    --count-color: rgb(255, 255, 255);
    --bg-color-drow:#000000;
    --bs-drown-color: #ffffff;
    --footer-bg-color:#000000;
    --app-color-bg:#000000;
    --table-color-bg:#0000000f;
    --table-header-bg:#00000038;
    --border-inter-table:#ffffff36;
    --shadown-color:rgb(73 73 73);
    --label-home: #313131;
    --drowdown-bg: #000;
    --drowdown-brd:#565656;
    --drowdown-text-color:gray;
    --color-text-table:rgb(255, 249, 249);
    --header-text-table:rgb(255, 255, 255);
    --activ-text-table:#424242;
    --activ-bg-table:rgba(66, 69, 69, 0.17);
    --margin-table:#ffffffcc;
    --table-scroll:#494949;
    --booton-assets:#8b8b8b;
    --booton-assets-bg:#dad5d578;
    --booton-assets-bg-hover:#4b4848d4;
    --booton-assets-br-hover:#484545;
    --bg-item-assets:#3b37373b;
    --bg-input-grup:#3d3b3b;
    --text-input-grup:#ffffff;
    --br-input-grup:#484848;
    --bg-confirm:#000000eb;
    --bg-confirm-text:rgb(255 255 255 / 87%);
    --bg-confirm-br:rgb(56, 56, 56);
    --tx-funds:rgb(128, 128, 128);
    --bg-pag:#292929;
    --bg-pag-br: #535353;
    --bg-pag-act: #4242423b;
    --bg-pag-nor: #000;
    --bg-desable-input:#3d3e3e;
    --ibackcolor:rgb(94, 94, 94);
    --ibackcolor-hover:gray;
    
    --bs-btn-color-box: #ffffff;
    --bs-btn-border-color-box: gray;
    --bs-btn-hover-color-box: #000;
    --bs-btn-hover-bg-box: gray;
    --bs-btn-hover-border-color-box: gray;
    --bs-btn-focus-shadow-rgb-box: 13,202,240;
    --bs-btn-active-color-box: #000;
    --bs-btn-active-bg-box: #ffffff;
    --bs-btn-active-border-color-box: gray;
    --bs-btn-active-shadow-box: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color-box: gray;
    --bs-btn-disabled-bg-box: transparent;
    --bs-btn-disabled-border-color-box: gray;
    --bs-gradient-box: none;
    
    --details-text-color: #fff;
    --bg-login:#0b0b0b;
    --a-login:rgb(255, 255, 255);
    --tex-pg-table: #e6dfdf;
    --bg-table-footer:#242424;
}

:root.dark {
--bg-color: #f1f1f1;
--bg-gradient-primary:#eeffee 10%;
--bg-gradient-secundary:#b8f5c7 100%;
--nav-item--hover: #fefffe;
--nav-link:rgba(0 0 0 / 80%);
   --border-right--header:1px solid #e3e6f0;
   --bg-color-header:#ffffff;
   --divider-color-sildebar: #6ad758;
   --bloxText-color:#000;
   --count-color:black;
   --bg-color-drow:#ffffff;
   --bs-drown-color: #212529;
   --footer-bg-color:#b8f5c7;
   --app-color-bg:#FFF;
   --table-color-bg:#FFF;
   --table-header-bg:#FFF;
   --border-inter-table:#7f7f7f42;
   --shadown-color:rgba(0, 0, 0, 0.15);
   --label-home: gray;
   --drowdown-bg:#fff;
   --drowdown-brd:#ced4da;
   --drowdown-text-color:#212529;
   --color-text-table:black;
   --header-text-table:black;
   --activ-text-table:#000000;
   --activ-bg-table:rgba(0, 0, 0, 0.075);
   --margin-table:#dee2e6;
   --table-scroll:rgb(174 235 195);
   --booton-assets:#000;
   --booton-assets-bg:#f8f9fa;
   --booton-assets-bg-hover:#d3d4d5;
   --booton-assets-br-hover:#c6c7c8;
   --bg-item-assets:#eafff9;
   --bg-input-grup:#e9ecef;
   --text-input-grup:#212529;
   --br-input-grup:#ced4da;
   --bg-confirm:#fff;
   --bg-confirm-text:rgba(0,0,0,.87);
   --bg-confirm-br:rgb(177, 177, 177);
   --tx-funds:rgb(128, 128, 128);
   --bg-pag: rgb(0, 0, 0);
   --bg-pag-br: #dee2e6;
   --bg-pag-act: #e9ecef;
   --bg-pag-nor: #fff;
   --bg-desable-input:#e9ecef;
   --ibackcolor:gray;
   --ibackcolor-hover:gray;

   --bs-btn-color-box: #0d6efd;
   --bs-btn-border-color-box: #0d6efd;
   --bs-btn-hover-color-box: #fff;
   --bs-btn-hover-bg-box: #0d6efd;
   --bs-btn-hover-border-color-box: #0d6efd;
   --bs-btn-focus-shadow-rgb-box: 13,110,253;
   --bs-btn-active-color-box: #fff;
   --bs-btn-active-bg-box: #0d6efd;
   --bs-btn-active-border-color-box: #0d6efd;
   --bs-btn-active-shadow-box: inset 0 3px 5px rgba(0, 0, 0, 0.125);
   --bs-btn-disabled-color-box: #0d6efd;
   --bs-btn-disabled-bg-box: transparent;
   --bs-btn-disabled-border-color-box: #0d6efd;
   --bs-gradient-box: none;

   --details-text-color: gray;
   --bg-login:#fff;
   --a-login:rgb(0, 56, 209);
   --tex-pg-table: black;
   --bg-table-footer:#fff;
   
}